<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Db_Lab_1_final.Properties.Settings.OnlineMovieShopLab1DbConnectionString"
            connectionString="Data Source=DESKTOP-LCBASFT;Initial Catalog=OnlineMovieShopLab1Db;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>